.btn {
  border: 2px solid black;
  background-color: white;
  color: black;
  cursor: pointer;
  width: fit-content;
}

.btn.active {
  background-color: black;
  color: white;
}

body,
#root {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  /* height: 80vh; */
  /* width: 50%;
  border: 3px solid green;
  padding: 10px; */
}
